:host {
	display: flex;
	margin: 1em;

  .mat-radio-group, .mat-form-field {
    margin-right: 5em;
  }
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
}

.mat-radio-button {
	margin: .5em;
}
