<mat-radio-group
  aria-label="Select a type"
  [value]="initalChartType"
  (change)="onChangedChartType($event)"
>
  <mat-radio-button value="line">Line</mat-radio-button>
  <mat-radio-button value="column">Column</mat-radio-button>
  <mat-radio-button value="bar">Bar</mat-radio-button>
</mat-radio-group>

<mat-form-field>
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [formGroup]="rangeFG" [rangePicker]="picker" [min]="dateInterval?.start" [max]="dateInterval?.end">
    <input matStartDate formControlName="start" placeholder="Start date" >
    <input matEndDate formControlName="end" placeholder="End date" >
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<app-tech-info [currentData]="currentData"></app-tech-info>
